<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <img class="ahorcado-img" src="./assets/img/{{ intentos }}.png" alt="ahorcado-img">
      <h3>Intentos <small> {{ intentos }} / 9</small></h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3>{{ palabraOculta }}</h3>
    </div>
  </div>
  <div *ngIf="gano" class="row">
    <div class="col text-center alert alert-success">
      <h3>Felicidades! Ya ganaste!!! </h3>
    </div>
  </div>
  <div *ngIf="perdio" class="row">
    <div class="col text-center">
      <h3 class="alert alert-danger">Ups! Ya perdiste!!! </h3>
      <h4>La palabra es: {{ palabra }}</h4>
    </div>
  </div>
  <div *ngIf="!gano && !perdio" class="row">
    <div class="col text-center">
      <button *ngFor="let letra of letras"
              class="btn btn-primary mt-2 ml-2"
              (click)="comprobar( letra )">
        {{ letra }}
      </button>
    </div>
  </div>
</div>